/* below 780px 48.75em */
@media screen and (max-width: 48.75em) {
    .img-thumbnail {
    margin-bottom: 0.625em;
  }
    
    .cont {
    margin-bottom: 0;
}
}

body {
    background-image: url(images/brazil.jpg);
}

.image {
    background-color : transparent;
}

.portait {
    max-width: 100%;
    height: auto;
}

section {
    background-color: #E6E6FA;
}

.pagehead {
    margin-top: 0px;
    background-color: transparent;
}

p {
    font-family: 'Roboto', serif;
}

.attribute {
    font-size: 75%;
}

article {
    font-family: 'Roboto', serif;
}

header {
    font-family: 'Dynalight', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

.intro {
    margin-top: 10px;
}

.img-thumbnail {
    float: left;
    margin-right: 20px;
    padding: 0px;
    border: none;
    max-width: 100%;
    height: auto;
}

.cont {
    margin: 10px 0 20px 0;
}

footer {
    font-family: 'Roboto', serif;
    background-color: transparent;
}
